//paleta de colores
$color-negro: #000000;
$color-blanco: #ffffff;
$color-gris-oscuro: #333;
$color-gris-clarito:#b4b3b3;
$color-casi-blanco:#f8f8f8;
$cambio-de-color-en-el-click-de-footer:#484848;
$color-fondo-enlace:#b3b9c1;